@using DTL.Model.Models
@model EmployeeProfileModel
@{
    ViewData["Title"] = "Add Employee";
    var prefix = new List<string>()
{
        "Mr.",
        "Ms.",
        "Mrs."
    };
    var gender = new List<string>()
{
        "Male",
        "Female",
        "Other"
    };
}
<link href="~/css/Employee/employeeProfile.css" rel="stylesheet" />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("","Pensioner")">Pensioner</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("GeneratePPO","Pensioner")">Generate PPO</a></li>
                        <li class="breadcrumb-item active">Employee</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @*<div class="card-header">
                                <h3 class="card-title">DataTable with minimal features & hover style</h3>
                            </div>*@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="addEmployeeForm">
                                <input type="hidden" id="usermode" value="@ViewBag.Mode" />
                                <input type="hidden" id="id" name="id" value="@Model.ID" />
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        <div class="profile-pic-wrapper">
                                            <div class="pic-holder">
                                                <!-- uploaded pic shown here -->
                                                @if (ViewBag.Mode != "View")
                                                {
                                                    @if (Model.ProfileImage == null)
                                                    {
                                                        <img id="profilePic" class="pic" src="~/dist/img/userprofile.png" />
                                                    }
                                                    else
                                                    {
                                                        <img id="profilePic" class="pic" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfileImage)" />
                                                    }

                                                    <label for="newProfilePhoto" class="upload-file-block">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="fa fa-camera fa-2x"></i>
                                                            </div>
                                                            <div class="text-uppercase">
                                                                Update <br /> Profile Photo
                                                            </div>
                                                        </div>
                                                    </label>
                                                    <input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="display: none;" />
                                                }
                                                else
                                                {
                                                    @if (Model.ProfileImage == null)
                                                    {
                                                        <img id="profilePic" class="pic" src="~/dist/img/userprofile.png" />
                                                    }
                                                    else
                                                    {
                                                        <img id="profilePic" class="pic" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfileImage)" />
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label for="Prefix">Title</label>
                                                <select id="Prefix" name="Prefix" class="form-control">
                                                    @foreach (var data in prefix)
                                                    {
                                                        if (data == Model.Prefix)
                                                        {
                                                            <option value="@data" selected>@data</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data">@data</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-5 form-group">
                                                <label for="EmployeeName">Employee Name</label>
                                                <input type="text" name="EmployeeName" class="form-control" id="EmployeeName" placeholder="Employee Name" value="@Model.EmployeeName">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="EmployeeId">Employee Id</label>
                                                <input type="text" name="EmployeeId" class="form-control" id="EmployeeId" placeholder="Employee Id" value="@Model.EmployeeId" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="DOB">DOB</label>
                                                <input type="date" name="DOB" class="form-control" id="DOB" placeholder="DOB"
                                                       data-date="" data-date-format="DD-MM-YYYY"
                                                       value="@(Model.DOB.ToString("yyyy-MM-dd") != "0001-01-01"? Model.DOB.ToString("yyyy-MM-dd"):"")">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="Gender">Gender</label>
                                                <select id="Gender" name="Gender" class="form-control">
                                                    @foreach (var data in gender)
                                                    {
                                                        if (data == Model.Gender)
                                                        {
                                                            <option value="@data" selected>@data</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data">@data</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="DTLOffice">Organization/Company</label>
                                                <select id="DTLOffice" name="DTLOffice" class="form-control">
                                                    <option value="">Select DVBETBF-2002 Office</option>
                                                    @foreach (var data in ViewBag.DTLOfficeList)
                                                    {
                                                        if (data.DTLOffice.Equals(Model.DTLOffice))
                                                        {
                                                            <option value="@data.DTLOffice" selected>@data.DTLOffice</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.DTLOffice">@data.DTLOffice</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="Designation">Designation</label>
                                                <input type="text" name="Designation" class="form-control" id="Designation" placeholder="Designation" value="@Model.Designation">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="ServiceStartDate">Appointment date / Initial date</label>
                                                <input type="date" name="ServiceStartDate" value="@(Model.ServiceStartDate.ToString("yyyy-MM-dd") != "0001-01-01"? Model.ServiceStartDate.ToString("yyyy-MM-dd"):"")"
                                                       data-date="" data-date-format="DD-MM-YYYY"
                                                       class="form-control" id="ServiceStartDate" placeholder="Service Start Date">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="ServiceEndDate">Date of Retirement</label>
                                                <input type="date" name="ServiceEndDate" value="@(Model.ServiceEndDate.ToString("yyyy-MM-dd") != "0001-01-01"? Model.ServiceEndDate.ToString("yyyy-MM-dd"):"")"
                                                       data-date="" data-date-format="DD-MM-YYYY"
                                                       class="form-control" id="ServiceEndDate" placeholder="Service End Date">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="RAddress">Residential Address</label>
                                                <textarea id="RAddress" name="RAddress" class="form-control" rows="4" cols="50" placeholder="Residential Address">@Model.ResidentialAddress</textarea>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="PAddress">Permanent Address</label>
                                                <span class="float-sm-right">
                                                    <label>Is Residential & Permanent address are same?</label>
                                                    <input type="checkbox" id="isAddressSame" class="checkbox" />
                                                </span>
                                                <textarea id="PAddress" name="PAddress" class="form-control" rows="4" cols="50" placeholder="Permanent Address">@Model.PermanentAddress</textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="RState">State</label>
                                                <input type="text" name="RState" class="form-control" value="@Model.RState" id="RState" placeholder="State">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label for="PState">State</label>
                                                <input type="text" name="PState" class="form-control" value="@Model.PState" id="PState" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="RDistrict">District</label>
                                                <input type="text" name="RDistrict" class="form-control" value="@Model.RDistrict" id="RDistrict" placeholder="District">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="PDistrict">District</label>
                                                <input type="text" name="PDistrict" class="form-control" value="@Model.PDistrict" id="PDistrict" placeholder="District">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6 form-group">
                                                <label for="RZipcode">Pin code</label>
                                                <input type="text" name="RZipcode" class="form-control" value="@Model.RZipcode" id="RZipcode" placeholder="Zipcode">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="PZipcode">Zipcode</label>
                                                <input type="text" name="PZipcode" class="form-control" value="@Model.PZipcode" id="PZipcode" placeholder="Zipcode">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label for="EmailAddress">Email Address</label>
                                                <input type="email" name="EmailAddress" class="form-control" value="@Model.EmailAddress" id="EmailAddress" placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="Mobile">Mobile</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend" style="width: 35% !important;">
                                                        <span class="input-group-text">
                                                            <input type="text" id="mobileCountryCode" name="mobileCountryCode" class="form-control" value="@Model.MobileCountryCode"
                                                                   placeholder="Country Code" style="height: 25px !important;" />
                                                        </span>
                                                    </div>
                                                    <input type="text" name="Mobile" class="form-control" id="Mobile" placeholder="Mobile" value="@Model.Mobile" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                                                </div>

                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="Phone">Phone</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend" style="width: 35% !important;">
                                                        <span class="input-group-text">
                                                            <input type="text" id="phoneCountryCode" name="phoneCountryCode" class="form-control" value="@Model.PhoneCountryCode"
                                                                   placeholder="Country Code" style="height: 25px !important;" />
                                                        </span>
                                                    </div>
                                                    <input type="text" name="Phone" class="form-control" id="Phone" placeholder="Phone" value="@Model.Phone"
                                                           onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="ReasonOfRetirement">Reason of retirement</label>
                                                <input type="text" name="ReasonOfRetirement" class="form-control" value="@Model.ReasonOfRetirement" id="ReasonOfRetirement" placeholder="Reason of retirement">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                @if (ViewBag.Mode != "View")
                                {
                                    <div class="card-footer text-center">
                                        <button type="button" id="btnEmployeeRegistration" class="btn btn-primary">@(ViewBag.Mode == "Edit" ? "Update" : "Save")</button>
                                        <a href="@Url.Action("", "Pensioner")" id="btnCnl" class="btn btn-warning">Cancel</a>
                                    </div>
                                }
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Employee{
    <script src="~/js/Employee/EmployeeProfile.js" asp-append-version="true"></script>
}
