@using DTL.Model.Models.Mediclaim
@model CashlessModel
@{
    ViewData["Title"] = "Cashless";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .top_print_btn {
        position: absolute;
        right: 20px;
        top: 30px;
    }
</style>
<div class="content-wrapper" style="margin:0px">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Cashless Mediclaim Application</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { Area = "Mediclaim" })">Mediclaim</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Raise",new { Area="Mediclaim" })">Raise</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Cashless", new { Area = "Mediclaim" })">Cashless List</a></li>
                        <li class="breadcrumb-item active">Cashless</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center mb-3">Cashless Mediclaim Application</h2>
                            <button class="btn btn-primary btn-sm top_print_btn float-right d-print-none printMe"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print</button>
                            @{
                                string _status = null;
                                switch (Model.ClaimStatusId)
                                {
                                    case 1:
                                        _status = "Pending";
                                        break;
                                    case 2:
                                        _status = "Approve";
                                        break;
                                    case 3:
                                        _status = "Reject";
                                        break;
                                }
                            }
                            <table class="table table-bordered mb-3">
                                <tr>
                                    <td class="text-right" style="width: 20%">Claim Number</td>
                                    <th style="width: 30%">@Model.ClaimId</th>
                                    <td class="text-right" style="width: 20%">Status</td>
                                    <th style="width: 30%">@_status</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Reason of Rejection</td>
                                    <th colspan="3">@Model.RejectReason</th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-center bg-gray-light">Details of Hospital</th>
                                </tr>
                                <tr>
                                    <td class="text-right" style="width: 20%">Name of Hospital</td>
                                    <th style="width: 30%">@Model.NameOfHospital.</th>
                                    <td class="text-right" style="width: 20%">Hospital ID</td>
                                    <th style="width: 30%">@Model.HospitalId</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Phone Number</td>
                                    <th>@Model.HospitalPhoneNumber</th>
                                    <td class="text-right">Email-ID</td>
                                    <th>@Model.EmailId</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Address</td>
                                    <th>@Model.EmailId</th>
                                </tr>


                            </table>

                            <table class="table table-bordered mb-3">
                                <tr>
                                    <th colspan="4" class="text-center bg-gray-light">Details of Patient</th>
                                </tr>
                                <tr>
                                    <td class="text-right" style="width: 20%">Name of Patient</td>
                                    <th style="width: 30%">@Model.NameOfPatient</th>
                                    <td class="text-right" style="width: 20%">Gender</td>
                                    <th style="width: 30%">@Model.Gender</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Phone Number</td>
                                    <th>@Model.PatientPhoneNumber</th>
                                    <td class="text-right">Address</td>
                                    <th>@Model.PatientAddress</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Medical section Page No</td>
                                    <th>@Model.MedicalSectionPageNumber</th>
                                    <td class="text-right">Medical Card Number</td>
                                    <th>@Model.MedicalCardNumber</th>

                                </tr>
                                <tr>
                                    <td class="text-right">Admission Number</td>
                                    <th>@Model.AdmissionNumber</th>
                                    <td class="text-right">Card Category</td>
                                    <th>@Model.CardCategory</th>

                                </tr>
                                <tr>
                                    <td class="text-right">Case type / Illness type</td>
                                    <th>@Model.CaseType</th>
                                    <td class="text-right">Type of Treatment</td>
                                    <th>@Model.TypeOfTreatment</th>

                                </tr>
                                <tr>
                                    <td class="text-right">Date of Admission</td>
                                    <th>@Model.DateOfAdmission.ToString("dd/MM/yyyy")</th>
                                    <td class="text-right">Date of Discharge / Date of Death</td>
                                    <th>@Model.DateOfDischargeOrDeath.ToString("dd/MM/yyyy")</th>

                                </tr>
                            </table>
                                                        
                            <div class="row d-print-none">
                                <div class="col-md-12 p-3 text-center">
                                    <button class="btn btn-primary printMe"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print Application</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section CashlessPrintPreview{
    <script>
        $('.printMe').click(function () {
            window.print();
        });
    </script>
}
