
@{
    ViewData["Title"] = "AddNewMedicalCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="margin:0px">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mediclaim Card Details Form</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home",new { Area="" })">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard",new { Area="Mediclaim" })">Mediclaim</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "MedicalCard", new { Area = "Mediclaim" })">Mediclaim Card List</a></li>
                        <li class="breadcrumb-item active">Mediclaim Card Details Form</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <form id="medicalCardForm">

                                <input type="hidden" id="hdnMedicalCardId" />

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Medical Card No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" value="" placeholder="Enter Medical Card No." id="txtCardNo" name="txtCardNo" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Employee No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Employee No." id="txtEmployeeNo" name="txtEmployeeNo" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">PPO No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter PPO No." id="txtPPONo" name="txtPPONo" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Name of Card Holder/ Pensioner</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Name of Card Holder/ Pensioner" id="txtNameOfCardHolder" name="txtNameOfCardHolder" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Employer</label>
                                    </div>
                                    <div class="col-md-4">
                                        @*<input type="text" class="form-control mb-2" placeholder="Enter Employer" id="txtEmployer" name="txtEmployer" required />*@
                                        <select id="Employer" name="Employer" class="form-control">
                                            <option value="">Select DVBETBF-2002 Office</option>
                                            @foreach (var data in ViewBag.DTLOfficeList)
                                            {
                                                <option value="@data.DTLOffice">@data.DTLOffice</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Date of Birth</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control mb-2" id="dtDateOfBirth" name="dtDateOfBirth" required />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="w-100 form-label text-right">Age</label>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control mb-2" placeholder="age" id="txtAge" name="txtAge" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Gender</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="selGender" name="selGender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Medical Section Page No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Medical Section Page No." id="txtMedicalSectionPageNo" name="txtMedicalSectionPageNo" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Card Category</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="selCardCategory" name="selCardCategory">
                                            <option value="General">General</option>
                                            <option value="Semi-Private">Semi-Private</option>
                                            <option vlaue="Private">Private</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Mobile no.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Mobile No." id="txtMobileNumber" name="txtMobileNumber" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Address</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea class="form-control mb-2" placeholder="Enter Address" id="txtAddress" name="txtAddress" required></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Medical History</label>
                                    </div>
                                    <div class="col-md-4">
                                        <textarea class="form-control mb-2" placeholder="Enter Medical History" id="txtMedicalHistory" name="txtMedicalHistory" required></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Bank Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Bank Name" id="txtBankName" name="txtBankName" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">BIC Code</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter BIC Code" id="txtBICCode" name="txtBICCode" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">IFSC Code</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter IFSC Code" id="txtIFSCCode" name="txtIFSCCode" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Account No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Enter Account No." id="txtAccountNumber" name="txtAccountNumber" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Name Of Dependent</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Name Of Dependent" id="txtNameOfDependent" name="txtNameOfDependent" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Relation With Retiree</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control mb-2" placeholder="Relation With Retiree" id="txtRelationWithRetiree" name="txtRelationWithRetiree" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right">Date of Birth</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control mb-2" id="dtDependentDob" name="dtDependentDob" required />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-3 text-right" style="background: aliceblue;">
                                        <button type="button" class="btn btn-primary" id="btnSubmit" data-toggle="modal" data-target="">Generate Card</button>
                                        <button type="reset" class="btn btn-danger" id="btnReset">Cancel</button>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Mediclaim Card Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>

                                            </div>
                                            <div class="modal-body text-center">
                                                <i class="fa fa-check-circle display-4 text-green" aria-hidden="true"></i>
                                                <p>Medical Card Generated Successfully</p>
                                                @*<p>Medical Card Number is <b><label id="lblCardNumber"></label></b></p>*@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" data-dismiss="modal" id="btnViewPrint">View and Print Card</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section AddMedicalCard{
    <script type="text/javascript" src="~/js/Mediclaim/MedicalCard/medicalcard.js"></script>
}
