@using DTL.Model.Models.CMS
@using DTL.WebApp.Areas.WebsiteCMS


@model RuleActHelplineModel
@{
    ViewData["Title"] = Model.IsNew ? "Add Act And Rules" : Model.ViewOnly ? "View Act And Rules" : "Edit Act And Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row header_section mx-0 px-0">
        <div class="col-4 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0"> Add Act And Rule</h3>
        </div>
        <p class="mb-0 col-8 top_link_Section">
            <a href="@Url.Action("Index","Home",new { Area="" })"><span class="">Dashboard </span> </a>
            <span class="px-1">/</span>
            <a href="@Url.Action("Index", StringConstants.DASHBOARD, new { Area = StringConstants.CMS_AREA })"><span>CMS</span></a>
            <span class="px-1">/</span>
            <a href="@Url.Action( StringConstants.DASHBOARD, StringConstants.CMS_RuleActHelpline, new { Area = StringConstants.CMS_AREA })"><span>Citizen Charter Dashboard</span></a>
            <span class="px-1">/</span>
            <a href="@Url.Action( StringConstants.CMS_Index, StringConstants.CMS_RuleActHelpline, new { Area = StringConstants.CMS_AREA })"><span>Act And Rules List</span></a>
            <span class="px-1">/</span>
            <span>@ViewData["Title"]</span>

        </p>
    </div>

    <div class="card border-card mt-0">
        <div class="card-body">
            <div class="card-body">
                <form id="AddRuleActForm" action="" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.ID" name="ID" id="ID" />
                    <input type="hidden" value="@Model.IsNew.ToString()" name="IsNew" id="IsNew" />
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1">Title<span class="text-danger req_text">*</span></label>
                            <input name="TitleInEnglish" value="@Model.TitleInEnglish" disabled="@Model.ViewOnly" type="text" class="form-control form-control-sm" placeholder="Title" />
                        </div>
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1"> Title in hindi<span class="text-danger req_text">*</span></label>
                            <input name="TitleInHindi" value="@Model.TitleInHindi" disabled="@Model.ViewOnly" type="text" class="form-control form-control-sm" placeholder=" Title in hindi" />
                        </div>
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1">Contact Number<span class="text-danger req_text">*</span></label>
                            <input name="ContactNumber" value="@Model.ContactNumber" disabled="@Model.ViewOnly" type="number" class="form-control form-control-sm" placeholder="Contact Number" />
                        </div>
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1">Contact In Hindi<span class="text-danger req_text">*</span></label>
                            <input name="ContactNumberInHindi" value="@Model.ContactNumberInHindi" disabled="@Model.ViewOnly" type="text" class="form-control form-control-sm" placeholder="Contact In Hindi" />
                        </div>
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1 ">Upload act and Rules in english<span class="text-danger req_text">*</span></label>
                            <input disabled="@Model.ViewOnly" id="Attachment_E" name="AttachmentFileInEnglish" class="form-control" type="file" accept="application/pdf">
                            <input id="isEnglishFileRequired" type="hidden" value="@(Model.AttachmentFileInEnglish == null? 1:0)" />
                            @if (Model.IsNew == false)
                            {
                                <br />
                                <a href="@Url.Action(StringConstants.CMS_DOWNLOAD, StringConstants.CMS_RuleActHelpline, new { id =  Model.ID, lang="English"})"> @Model.EnglishFileName</a>
                            }
                        </div>
                        <div class="col-sm-6 col-md-6 mb-3">
                            <label class="form-label d-block mb-1">Upload act and Rules in Hindi<span class="text-danger req_text">*</span></label>
                            <input disabled="@Model.ViewOnly" id="Attachment_H" name="AttachmentFileInHindi" class="form-control" type="file" accept="application/pdf">
                            <input id="isHindiFileRequired" type="hidden" value="@(Model.AttachmentFileInHindi == null? 1:0)" />

                            @if (Model.IsNew == false)
                            {
                                <br />
                                <a href="@Url.Action(StringConstants.CMS_DOWNLOAD, StringConstants.CMS_RuleActHelpline, new { id =  Model.ID, lang="Hindi"})"> @Model.HindiFileName</a>
                            }
                        </div>

                        <div class="col-md-12 mb-3 submit_area submit_area_strip">
                            @if (!Model.ViewOnly)
                            {
                                <button id="btnSubmit" type="submit" class="btn btn-brand me-2 @(Model.ViewOnly ? "hide" :"")">@(Model.IsNew ? "Submit" : "Update")</button>

                            }

                       
                        
                            <button onclick="showConfirmSwal('Are you sure you want cancel?',function(){ location.href='/WebsiteCMS/RuleActHelpline';  }); return false;" class="btn btn-cancel me-2">Cancel</button>
                            <button onclick="showConfirmSwal('Are you sure you want to Reset?', function(){ location.reload();}); return false; " class="btn btn-reset me-2">Reset</button>
                        </div>



                    </div>
                </form>
            </div>


        </div>
    </div>

</div>

<script type="text/javascript" src="~/js/CMS/RuleActHelpline.js" asp-append-version="true"></script>

<script>

    $("#Attachment_E").on("change", function () {
        $("#Attachment_noticeE-error").css('display', 'None');
        $(this).removeClass('is-invalid');

    });
    $("#Attachment_H").on("change", function () {
        $(this).removeClass('is-invalid');
        $("#Attachment_noticeH-error").css('display', 'None');
    });
    $("#date").on("change", function () {
        $(this).removeClass('is-invalid');
        $("#Date-error").css('display', 'None');
    });

</script>