@using DTL.Model.Models.Mediclaim
@model ClaimAndVoucherDetailModel
@{
    ViewData["Title"] = "Cashless";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claimtype = "";
}


<!--New UI-->
<div class="container-fluid view_form">
    <input type="hidden" id="hdnClaimId" value="@Model.Cashless.ClaimId" />
    <input type="hidden" id="hdndesignation" value="@ViewBag.Designation" />
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle"><i class="fa-solid fa-bars"></i></span>
            <h3 class="mb-0">Voucher View</h3>
            @*<span class="subTitle">(To be filled by hospital only)</span>*@
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <span class=""><a href="@Url.Action("Index","Home",new { Area="" })">Dashboard</a></span><span class="px-1">/</span><span><a href="@Url.Action("CashlessClaims","Processing",new { Area="Mediclaim" })">Cashless Claims</a></span><span class="px-1">/</span><span>Claim & Voucher View</span>
        </p>
    </div>
    <div class="card border-card mt-0">
        <div class="card-body">
            <div class="position-relative">
                <div id="material-tabs">
                    <a id="tab1-tab" href="#tab1" class="active">Voucher Detail</a>
                    <a id="tab2-tab" href="#tab2">Raised Claim Application</a>

                    <span class="yellow-bar"></span>
                </div>
            </div>
            <div class="tab-content view_container_bg ">
                <div id="tab1">
                    @if (Model.Voucher != null)
                    {
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Claim No.</label>
                            <p class="View_text">@Model.Voucher.ClaimId</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Claim Type</label>
                            @if (Model.Voucher.ClaimType.ToLower() == "calshess") { claimtype = "Cashless"; } else { claimtype = "NonCashless"; }
                            <p class="View_text">@claimtype</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">PPO Number</label>
                            <p class="View_text">@Model.Cashless.PPONumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Medical Section Page Number </label>
                            <p class="View_text">@Model.Voucher.PageNo</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Pay To shri / smt</label>
                            <p class="View_text">@Model.Voucher.PayTo</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Approved Amount</label>
                            <p class="View_text">@Model.Voucher.ApprovedAmountInDecimal</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">In Words</label>
                            <p class="View_text">@Model.Voucher.AmountInWords</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Account Number</label>
                            <p class="View_text">@Model.Voucher.AccountNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Bank name</label>
                            <p class="View_text">@Model.Voucher.BankName</p>
                        </div>


                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Branch Name</label>
                            <p class="View_text">@Model.Voucher.BankBranch</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">BIC Code</label>
                            <p class="View_text">@Model.Voucher.BICCode</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">IFSC code </label>
                            <p class="View_text">@Model.Voucher.IFSCCode</p>
                        </div>

                    </div>
                    }
                    else
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Voucher is not generated for this claim</label>
                        </div>
                    }

                </div>
                <div id="tab2">
                    <h4 class="form_title">
                        Detail Of Hospital
                    </h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">
                                Name Of Hospital
                            </label>
                            <p class="View_text">@Model.Cashless.NameOfHospital</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">
                                Hospital Id
                            </label>
                            <p class="View_text">@Model.Cashless.HospitalId</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Phone Number</label>
                            <p class="View_text">@Model.Cashless.HospitalPhoneNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Email Id</label>
                            <p class="View_text">@Model.Cashless.EmailId</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Treating Doctor Name</label>
                            <p class="View_text">@Model.Cashless.NameOfDoctor</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Doctor Mobile No </label>
                            <p class="View_text">@Model.Cashless.Doctor_NO</p>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Address</label>
                            <p class="View_text">@Model.Cashless.HospitalAddress</p>
                        </div>
                    </div>
                    <h4 class="form_title">
                        Card Holder Detail
                    </h4>
                    <div class="row">

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">PPO Number</label>
                            <p class="View_text">@Model.Cashless.PPONumber</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Name of medical card holder</label>
                            <p class="View_text">@Model.Cashless.NameOfCardHolder</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Medical Card number</label>
                            <p class="View_text">@Model.Cashless.MedicalCardNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Card Category</label>
                            <p class="View_text">@Model.Cashless.CardCategory</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Medical Section Page Number</label>
                            <p class="View_text">@Model.Cashless.MedicalSectionPageNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Email Id</label>
                            <p class="View_text">@Model.Cashless.PatientEmailId</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Date Of Birth</label>
                            <p class="View_text">@Model.Cashless.DateOfBirth.ToString("dd-MM-yyyy")</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                            <label class="form-label d-block mb-1">Age</label>
                            <p class="View_text">@Model.Cashless.Age</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Mobile Number</label>
                            <p class="View_text">@Model.Cashless.PatientPhoneNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6  mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">Organization</label>
                            <p class="View_text">@Model.Cashless.Organization</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">Department</label>
                            <p class="View_text">@Model.Cashless.Department</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">Designation</label>
                            <p class="View_text">@Model.Cashless.Designation</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Date Of Retirement</label>
                            <p class="View_text">@Model.Cashless.DateOfRetirement.ToString("dd-MM-yyyy")</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-9 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Address</label>
                            <p class="View_text">@Model.Cashless.PatientAddress</p>
                        </div>

                    </div>
                    <h4 class="form_title mt-3 shadow-2-strong">
                        Detail Of Patients
                    </h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1" for="name">Name Of Patient</label>
                            <p class="View_text">@Model.Cashless.NameOfPatient</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">relationship with  retiree   </label>
                            <p class="View_text">@Model.Cashless.RelationWithRetire</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3view_text_border">
                            <label class="form-label d-block mb-1">Gender</label>
                            <p class="View_text">@Model.Cashless.Gender</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Date Of Birth</label>
                            <p class="View_text">@Model.Cashless.DependantDOB.ToString("dd-MM-yyyy")</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                            <label class="form-label d-block mb-1">Age</label>
                            <p class="View_text">@Model.Cashless.DependantAge</p>
                        </div>
                    </div>

                    <h4 class="form_title mt-3 shadow-2-strong">
                        Claim Document Upload
                    </h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered view_table">
                                <thead>
                                    <tr>
                                        <th width="7%" class="text-center">Sr. No.</th>
                                        <th>Document Type</th>
                                        <th>Attach file </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Cashless.Documents.Count() > 0)
                                    {

                                        var _index = 1;
                        @foreach (var item in Model.Cashless.Documents)
                        {
                <tr>
                    <td>
                        @_index
                    </td>
                    <td>
                        @item.DocumentFor
                    </td>
                    <td class="text-center">
                        @*<a href="@item.DocumentPath" target="_blank">@item.FileName</a>*@
                        <a href="/@item.DocumentPath" class="pdfIcons" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
                    </td>
                </tr>_index = _index + 1;
                                }}
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <h4 class="form_title mt-3 ">
                        Bank Details
                    </h4>
                    <div class="row ">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Account Holder Name</label>
                            <p class="View_text">@Model.Cashless.AccountHolderName</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Account Number</label>
                            <p class="View_text">@Model.Cashless.AccountNumber</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Bank Name</label>
                            <p class="View_text">@Model.Cashless.BankName</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Branch Name</label>
                            <p class="View_text">@Model.Cashless.BranchName</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">BIC Code</label>
                            <p class="View_text">@Model.Cashless.BICCode</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">IFSC code </label>
                            <p class="View_text">@Model.Cashless.IFSCNumber</p>
                        </div>

                    </div>

                    <h4 class="form_title mt-3 ">
                        Requested By Hospital at the time of Discharge
                    </h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Date of Admission </label>
                            <p class="View_text">@Model.Cashless.DateOfAdmission.ToString("dd-MM-yyyy")</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1"> Date of Discharge / Date of Death </label>
                            <p class="View_text">@Model.Cashless.DateOfDischargeOrDeath.ToString("dd-MM-yyy")</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Diagnosis</label>
                            <p class="View_text">@Model.Cashless.Diagnosis</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Claim Amount</label>
                            <p class="View_text">@Model.Cashless.Amount</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1"> Type Of treatment </label>
                            <p class="View_text">@Model.Cashless.TypeOfTreatment</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1"> Signature Of Employee </label>
                            <p class="View_text">@Model.Cashless.SignatureOfEmployee</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3  mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Sign/Stamp Treating Doctor</label>
                            <p class="View_text">@Model.Cashless.Doctor_SignAndStamp</p>
                        </div>

                    </div>

                    <div class="border-card border-top-0 ">
                        <h4 class="form_title shadow-2-strong">
                            Claim Approval Status
                        </h4>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
                                <label class="form-label d-block mb-1">Approve Amount<span class="text-danger req_text">*</span></label>
                                <input type="text" id="txtApproveAmount" class="form-control form-control-sm" value="@Model.Cashless.ApprovedAmountInDecimal">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                <label class="form-label d-block mb-1">In Words<span class="text-danger req_text">*</span></label>
                                <input type="text" id="txtApproveAmountInWords" disabled class="form-control form-control-sm" placeholder="Approve Amount in Words">
                            </div>
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            CMO (Cheif Medical Officer)
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "cmo")
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">CMO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtCMORemark" class="form-control form-control-sm">@Model.Cashless.CMORemark</textarea>
                </div> }
                            else
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">CMO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtCMORemark" class="form-control form-control-sm" readonly disabled>@Model.Cashless.CMORemark</textarea>
                </div>}
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            Dealing assitant remark
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "da1" || ViewBag.Designation.ToLower() == "da2")
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">Dealing asistant Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtDealingAssistantRemark" class="form-control form-control-sm">@Model.Cashless.DealingAssistanceRemark</textarea>
                </div> }
                            else
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">Dealing asistant Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtDealingAssistantRemark" class="form-control form-control-sm" readonly disabled>@Model.Cashless.DealingAssistanceRemark</textarea>
                </div>}
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            ASO (Assitant Special Officer)
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "aso")
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">ASO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtASORemark" class="form-control form-control-sm">@Model.Cashless.ASORemark</textarea>
                </div> }
                            else
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">ASO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtASORemark" class="form-control form-control-sm" readonly disabled>@Model.Cashless.ASORemark</textarea>
                </div>}
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            SO (Special Officer)
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "so")
                            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">SO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtSORemark" class="form-control form-control-sm">@Model.Cashless.SORemark</textarea>
                </div> }
                            else
                            {
                                {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1">SO Remark<span class="text-danger req_text">*</span></label>
                    <textarea type="text" id="txtSORemark" class="form-control form-control-sm" readonly disabled>@Model.Cashless.SORemark</textarea>
                </div>}
                            }
                        </div>
                        <br />
                        @if (ViewBag.Designation.ToLower() != "am_dm")
                        {
                <div class="row">
                    <div class="col-lg-12" style="float:right">
                        <button id="btnModalApprove" type="button" class="btn btn-success me-2 text-white" data-backdrop="static" data-keyboard="false">Approve</button>
                        <button id="btnModalReject" type="button" class="btn btn-danger me-2 text-white" data-backdrop="static" data-keyboard="false">Reject</button>
                    </div>
                </div>}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Modal Popup-->
    <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body ">
                    <div class="content p-0">
                        <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img src="~/assets/images/thumbs-up.png" class="icon_reject ">
                        <p class="message-type text-blod  pt-3">
                            Are you sure you want to approve the application ?
                        </p>
                        <div class="col-sm-12 mb-3 px-0">
                            <label class="form-label d-block mb-1">Remark<span class="text-danger req_text">*</span></label>
                            <textarea id="txtRemark" class="form-control form-control-sm" placeholder="Remark"></textarea>
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-brand popUp_btn me-2" data-backdrop="static" data-keyboard="false" id="btnApprove">Yes, Approve</button>
                        <button type="button" class="btn btn-danger popUp_btn me-2" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body ">
                    <div class="content p-0">
                        <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img src="~/assets/images/rejected.png" class="icon_reject ">
                        <p class="message-type text-blod mb-0 pt-3">
                            Are you sure you want to reject the application ?
                        </p>

                        <div class="col-sm-12 mb-3 px-0">
                            <label class="form-label d-block mb-1">Remark<span class="text-danger req_text">*</span></label>
                            <textarea id="txtRejectReason" class="form-control form-control-sm" placeholder="Remark"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-brand popUp_btn me-2" data-backdrop="static" data-keyboard="false" id="btnReject">Submit</button>
                        <button type="button" class="btn btn-danger popUp_btn me-2" data-bs-dismiss="modal">Close</button>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="approvemsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button type="button" class="close text-right p-3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <p><label id="lblApproveMessage"></label></p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="rejectmsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button type="button" class="close text-right p-3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <p><label id="lblRejectMessage"></label></p>
                </div>
            </div>
        </div>
    </div>
</div>



@section NonCashlessClaimsView{
    @*<script type="text/javascript" src="~/js/Mediclaim/Processing/approverejectnoncashless.js"></script>*@
    <script src="~/assets/js/tab.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnApprove').click(function () {
                var request = {
                    ClaimId: $('#hdnClaimId').val(),
                    ClaimStatusId: 2,
                    RejectReason: null,
                    ApprovedAmount: $('#txtApproveAmount').val(),
                    Remark: $('#txtRemark').val(),
                    CMORemark: $('#txtCMORemark').val(),
                    DealingAssistanceRemark: $('#txtDealingAssistantRemark').val(),
                    ASORemark: $('#txtASORemark').val(),
                    SORemark: $('#txtSORemark').val(),
                    Designation: $('#hdndesignation').val()
                }
                $.ajax({
                    type: 'POST',
                    url: "/Mediclaim/Processing/Cashless/ApproveReject",
                    data: JSON.stringify(request),
                    contentType: 'application/json; charset=utf-8',
                    //dataType: 'json',
                    success: function (response, status, xhr) {
                       
                        $('#approveModal').modal('hide');
                        if (xhr.status == '200') {
                            if (response == "Success") {

                                //$('#approvemsg').modal('show');
                                //let message = `Claim ${$('#hdnClaimId').val()} is approved successfully`
                                //$('#lblApproveMessage').text(message);

                                setTimeout(function () {
                                    window.location.href = "/Mediclaim/IPD/ProcessingList";
                                }, 2000);
                            }
                            else {
                                //$('#approvemsg').modal('show');
                                //let message = `Something went wrong`;
                                //$('#lblReturnMessage').text(message);


                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#approveModal').modal('hide');
                    }
                });

            });

            $('#btnReject').click(function () {
                if ($('#txtRejectReason').val() !== '') {
                    $('#txtRejectReason').removeClass('is-invalid');
                    var request = {
                        ClaimId: $('#hdnClaimId').val(),
                        ClaimStatusId: 3,
                        RejectReason: $('#txtRejectReason').val(),
                        ApprovedAmount: 0,
                        CMORemark: $('#txtCMORemark').val(),
                        DealingAssistanceRemark: $('#txtDealingAssistantRemark').val(),
                        ASORemark: $('#txtASORemark').val(),
                        SORemark: $('#txtSORemark').val(),
                        Designation: $('#hdndesignation').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/Mediclaim/Processing/Cashless/ApproveReject",
                        data: JSON.stringify(request),
                        contentType: 'application/json; charset=utf-8',
                        //dataType: 'json',
                        success: function (response, status, xhr) {
                            $('#rejectModal').modal('hide');
                            if (xhr.status == '200') {
                                if (response == "Success") {

                                    //$('#rejectmsg').modal('show');
                                    //let message = `Claim ${$('#hdnClaimId').val()} is rejected `;
                                    //$('#lblRejectMessage').text(message);
                                    $('#txtRejectReason').val('');

                                    setTimeout(function () {
                                        window.location.href = "/Mediclaim/IPD/ProcessingList";
                                    }, 2000);
                                }
                                else {
                                    //$('#rejectmsg').modal('show');
                                    //let message = `Something went wrong`;
                                    //$('#lblRejectMessage').text(message);

                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#rejectModal').modal('hide');
                        }
                    });
                }
                else {
                    $('#txtRejectReason').addClass('is-invalid');
                }
            });

            $('#btnModalApprove').click(function () {
                var ApprovedAmount = $('#txtApproveAmount').val();
                if (parseFloat(ApprovedAmount) > 0) {
                    //$('input[type="text"]').remove('is-invalid');
                    $('#approveModal').modal('show');
                }
                else {
                    //$('#validationModal').modal('show');
                    //$('input[type="text"]').addClass('is-invalid');
                }
            });

            $('#btnModalReject').click(function () {
                $('#rejectModal').modal('show');
            });
        });
    </script>
    <script src="~/js/numbertoword.js"></script>
    <script>
        $(document).ready(function () {
            var numberToWord = new NumberToWord();
            if ($('#txtApproveAmount').val() !== '0') {
                $('#txtApproveAmountInWords').val(numberToWord.ToWord($('#txtApproveAmount').val()))
            }

            $('#txtApproveAmount').focusout(function () {
                $('#txtApproveAmountInWords').val(numberToWord.ToWord($('#txtApproveAmount').val()))
            });

        });
    </script>
}