@using DTL.Model.Models.Mediclaim
@model ClaimAndVoucherDetailModel
@{ ViewData["Title"] = "NonCashless";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claimtype = ""; }


<!--New UI-->
<div class="container-fluid view_form">
    <input type="hidden" id="hdnNonCashlessAproveAmount" value="@Model.NonCashless.ApprovedAmountInDecimal" />
    <input type="hidden" id="hdnClaimId" value="@Model.NonCashless.ClaimId" />
    <input type="hidden" id="hdndesignation" value="@ViewBag.Designation" />
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle"><i class="fa-solid fa-bars"></i></span>
            <h3 class="mb-0">Mediclaim View</h3>
            @*<span class="subTitle">(To be filled by hospital only)</span>*@
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <span class=""><a href="@Url.Action("Index","Home",new { Area="" })">Dashboard</a></span><span class="px-1">/</span><span><a href="@Url.Action("NonCashlessClaims","Processing",new { Area="Mediclaim" })">Non-Cashless Claims</a></span><span class="px-1">/</span><span>Claim & Voucher View</span>
        </p>
    </div>
    <div class="card border-card mt-0">
        <div class="card-body">
            <div class="position-relative">
                <div id="material-tabs">
                    <a id="tab1-tab" href="#tab1" class="active">Voucher Detail</a>
                    <a id="tab2-tab" href="#tab2">Raised Claim Application</a>

                    <span class="yellow-bar"></span>
                </div>
            </div>
            <div class="tab-content view_container_bg ">
                <div id="tab1">
                    @if (Model.Voucher != null)
                    {
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Claim No.</label>
                                <p class="View_text">@Model.Voucher.ClaimId</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Claim Type</label>
                                @if (Model.Voucher.ClaimType.ToLower() == "calshess") { claimtype = "Cashless"; } else { claimtype = "NonCashless"; }
                                <p class="View_text">@claimtype</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">PPO Number</label>
                                <p class="View_text">@Model.NonCashless.PPONumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Medical Section Page Number </label>
                                <p class="View_text">@Model.Voucher.PageNo</p>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Pay To shri / smt</label>
                                <p class="View_text">@Model.Voucher.PayTo</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Approved Amount</label>
                                <p class="View_text">@Model.Voucher.ApprovedAmountInDecimal</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">In Words</label>
                                <p class="View_text">@Model.Voucher.AmountInWords</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Account Number</label>
                                <p class="View_text">@Model.Voucher.AccountNumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Bank name</label>
                                <p class="View_text">@Model.Voucher.BankName</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Branch Name</label>
                                <p class="View_text">@Model.Voucher.BankBranch</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">BIC Code</label>
                                <p class="View_text">@Model.Voucher.BICCode</p>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">IFSC code </label>
                                <p class="View_text">@Model.Voucher.IFSCCode</p>
                            </div>


                        </div>
                        <div class="row mb-3 submit_area submit_area_strip mt-5 mx-0">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="printMe">
                                    <i class="fa fa-print mr-2"
                                       aria-hidden="true"></i>Print voucher
                                </button>
                            </div>
                        </div> }
                    else
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3 view_text_border">
                            <label class="form-label d-block mb-1">Voucher is not generated for this claim</label>
                        </div>}

                </div>
                <div id="tab2">
                    <div class="border-card mt-0">
                        <h4 class="form_title">
                            personal details
                        </h4>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Employee number</label>
                                <p class="View_text">@Model.NonCashless.EmployeeNumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">PPO number</label>
                                <p class="View_text">@Model.NonCashless.PPONumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Medical Section Page Number </label>
                                <p class="View_text">@Model.NonCashless.MedicalSectionPageNumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Name of Pensioner </label>
                                <p class="View_text">@Model.NonCashless.MedicalCardHolderName</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Medical Card number</label>
                                <p class="View_text">@Model.NonCashless.MedicalCardNo</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Gender</label>
                                <p class="View_text">@Model.NonCashless.Gender</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Organization</label>
                                <p class="View_text">@Model.NonCashless.Organization</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Designation</label>
                                <p class="View_text">@Model.NonCashless.Designation</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Date Of Birth</label>
                                <p class="View_text">@Model.NonCashless.DateOfBirth.ToString("dd-MM-yyyy")</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Age</label>
                                <p class="View_text">@Model.NonCashless.Age</p>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Mobile Number</label>
                                <p class="View_text">@Model.NonCashless.MobileNumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Email Id</label>
                                <p class="View_text">@Model.NonCashless.EmailId</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Card Category</label>

                                <p class="View_text">@Model.NonCashless.CardCategory</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Dependent/Self</label>
                                <p class="View_text">@Model.NonCashless.ClaimFor</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Name of Patient</label>
                                <p class="View_text">@Model.NonCashless.PatientName</p>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Serial No</label>
                                <p class="View_text">@Model.NonCashless.ClaimNumber</p>
                            </div>

                            <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Address</label>
                                <p class="View_text">@Model.NonCashless.Address</p>
                            </div>
                        </div>
                    </div>
                    @if (Model.NonCashless.Dependent != null && Model.NonCashless.ClaimFor.ToLower() == "dependent")
                    {
                        <div class="border-card  border-top-0 ">
                            <h4 class="form_title">
                                Dependent Information
                            </h4>
                            <div class="row ">

                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                    <label class="form-label d-block mb-1"> Name</label>
                                    <p class="View_text">@Model.NonCashless.Dependent.Name</p>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                    <label class="form-label d-block mb-1">Date Of Birth</label>
                                    <p class="View_text">@Model.NonCashless.Dependent.DateOfBirth.ToString("dd-MM-yyyy")</p>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                    <label class="form-label d-block mb-1">Age</label>
                                    <p class="View_text">@Model.NonCashless.Dependent.Age</p>

                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                    <label class="form-label d-block mb-1">
                                        relationship with retiree
                                    </label>
                                    <p class="View_text">@Model.NonCashless.Dependent.RelationWithRetire</p>
                                </div>
                            </div>
                        </div>}

                    <div class="border-card  border-top-0 ">
                        <h4 class="form_title">
                            Detail of Hospitalization
                        </h4>

                        @if (Model.NonCashless.ClaimType.ToLower() == "opd/dispensary")@*OPD / Dispensary*@ {
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-12 view_text_border">
                                    <label class="form-label d-block mb-1">Type of claim</label>
                                    <p class="View_text">OPD/Dispensary</p>
                                </div>
                            </div>}
                        @if (Model.NonCashless.ClaimType.ToLower() == "cancer/dialysis")
                        {
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-12 view_text_border">
                                    <label class="form-label d-block mb-1">Type of claim</label>
                                    <p class="View_text">Cancer/Dialysis</p>
                                </div>
                            </div>}
                        @if (Model.NonCashless.ClaimType.ToLower() == "ipd/noncashless")
                        {
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-12 view_text_border">
                                    <label class="form-label d-block mb-1">Type of claim</label>
                                    <p class="View_text">IPD/NonCashless</p>
                                </div>
                            </div>}

                        <div class="row ">
                            <div class="col-sm-12 mt-4">
                                <table id="tblCND" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Name of Hospital</th>
                                            <th>Medicine Amt</th>
                                            <th>Consultation Amt</th>
                                            <th>Investigation Amt</th>
                                            <th>Other Expenses Amt</th>
                                            <th class="text-center">Total Amount</th>
                                            <th class="text-center">Deducted Amount</th>
                                            <th class="text-center">Amt Cut</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal totalAmountSum = 0;
                                            int index = 0;
                                            decimal originalTotal = 0;

                                            //decimal deductedAmountSum = 0;
                                        }

                                        @foreach (var item in Model.NonCashless.OPDCNDList)
                                        {
                                            totalAmountSum += item.TotalAmount;
                                            //var deducted = item.TotalAmount ;
                                            //deductedAmountSum += deducted;
                                            originalTotal += item.TotalAmount;

                                            <tr>
                                                <td>@item.OPDCNDDate.ToString("dd-MM-yyyy")</td>
                                                <td>@item.HospitalName</td>
                                                <td class="text-right">@Math.Round(item.MedicineAmount, 2)<span class="text-danger req_text"> ₹</span></td>
                                                <td class="text-right">@Math.Round(item.ConsultationAmount, 2)<span class="text-danger req_text"> ₹</span></td>
                                                <td class="text-right">@Math.Round(item.InvestigationAmount, 2)<span class="text-danger req_text"> ₹</span></td>
                                                <td class="text-right">@Math.Round(item.OtherAmount, 2)<span class="text-danger req_text"> ₹</span></td>
                                                <td class="text-right">@Math.Round(item.TotalAmount, 2)<span class="text-danger req_text"> ₹</span></td>
                                                @*<td class="text-right">@Math.Round(deducted, 2)<span class="text-danger req_text"> ₹</span></td>*@
                                                @*<td class="text-right">
                            <span id="totalAmount_@index">@Math.Round(originalTotal, 2)</span><span class="text-danger req_text"> ₹</span>
                        </td>*@

                                                <!-- Editable Deducted Amount -->
                                                <td class="text-right">
                                                    <span id="totalAmount_@index">@Math.Round(item.TotalAmount, 2)</span><span class="text-danger req_text"> ₹</span>
                                                </td>
                                                <td class="text-right">
                                                    <input type="number" id="ABC" step="0.01"
                                                           class="form-control form-control-sm text-right deducted-input"
                                                           value="0.00"
                                                           data-opdcndid="@item.OPDCNDId"
                                                           data-original="@item.TotalAmount"
                                                           oninput="updateTotal(@index, this)" />

                                                </td>


                                            </tr>
                                            index++;
                                        }



                                        <tr style="font-weight:bold; background-color:#f1f1f1;">
                                            <td colspan="7" class="text-right">Deducted Grand Total:</td>
                                            <td class="text-right"><span id="deductedGrandTotal">0.00</span><span class="text-danger req_text"> ₹</span></td>
                                        </tr>



                                    </tbody>
                                </table>
                               

                                @*@for (int i = 0; i < Model.NonCashless.OPDCNDList.Count; i++)
                                {
                                    var item = Model.NonCashless.OPDCNDList[i];

                                    <input type="number"
                                           id="ABC_@i"
                                           name="[@i].DeductedAmount"
                                           step="0.01"
                                           class="form-control form-control-sm text-right deducted-input"
                                           value="@item.DeductedAmount.ToString("F2")"
                                           data-opdcndid="@item.OPDCNDId"
                                           data-original="@item.TotalAmount"
                                           oninput="updateTotal(@i, this)" />

                                    <input type="hidden" name="[@i].OPDCNDId" value="@item.OPDCNDId" />
                                }*@
                                <button type="button" class="btn btn-success mt-3" onclick="saveDeductedAmounts()">Save</button>

                            </div>
                        </div>

                        @*<div class="row ">
                                <div class="col-sm-12 mt-4">
                                    <table id="tblCND" class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Date</th>
                                                <th>Name of Hospital</th>
                                                <th>Medicine Amt</th>
                                                <th>Consultation Amt</th>
                                                <th>Investigation Amt</th>
                                                <th>Other Expenses Amt</th>
                                                <th class="text-right">Total Amount</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.NonCashless.OPDCNDList)
                                            {
                                <tr>


                                    <td>@item.OPDCNDDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.HospitalName</td>
                                    <td class="text-right">@Math.Round(item.InvestigationAmount, 2)<span class="text-danger req_text">₹ </span> </td>
                                    <td class="text-right">@Math.Round(item.InvestigationAmount, 2)<span class="text-danger req_text">₹ </span></td>
                                    <td class="text-right">@Math.Round(item.ConsultationAmount, 2)<span class="text-danger req_text">₹ </span></td>
                                    <td class="text-right">@Math.Round(item.OtherAmount, 2)<span class="text-danger req_text">₹ </span></td>
                                    <td class="text-right">@Math.Round(item.TotalAmount, 2)<span class="text-danger req_text">₹ </span></td>


                                </tr>}
                                        </tbody>



                                    </table>
                                </div>
                            </div>*@
                    </div>




                    <div class="border-card border-top-0 ">
                        <h4 class="form_title shadow-2-strong">
                            Claim Document Upload
                        </h4>
                        <div class="row">

                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered view_table">
                                    <thead>
                                        <tr>
                                            <th width="7%" class="text-center">Sr. No.</th>
                                            <th>Document Type</th>
                                            <th width="15%" class="text-center">Attach file </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.NonCashless.Documents.Count() > 0)
                                        {

                                            var _index = 1;
                                            @foreach (var item in Model.NonCashless.Documents)
                                            {
                                                <tr>
                                                    <td>
                                                        @_index
                                                    </td>
                                                    <td>
                                                        @item.DocumentFor
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="/@item.DocumentPath" class="pdfIcons" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                _index = _index + 1;
                                            }}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="border-card  border-top-0 ">
                        <h4 class="form_title">
                            Bank Details
                        </h4>
                        <div class="row ">
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Account Holder Name</label>
                                <p class="View_text">@Model.NonCashless.AccountHolderName</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Account Number</label>
                                <p class="View_text">@Model.NonCashless.AccountNumber</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Bank Name</label>
                                <p class="View_text">@Model.NonCashless.BankName</p>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">Branch Name</label>
                                <p class="View_text">@Model.NonCashless.BranchName</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">BIC Code</label>
                                <p class="View_text">@Model.NonCashless.BICCode</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                                <label class="form-label d-block mb-1">IFSC code </label>
                                <p class="View_text">@Model.NonCashless.IFSCNumber</p>
                            </div>


                        </div>
                    </div>
                    <div class="border-card border-top-0 ">
                        <h4 class="form_title shadow-2-strong">
                            Claim Approval Status
                        </h4>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
                                <label class="form-label d-block mb-1">Approve Amount<span class="text-danger req_text">*</span></label>
                                <input type="text" id="txtApproveAmount" class="form-control form-control-sm" value="@Model.NonCashless.ApprovedAmountInDecimal">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                <label class="form-label d-block mb-1">In Words<span class="text-danger req_text">*</span></label>
                                <input type="text" id="txtApproveAmountInWords" disabled class="form-control form-control-sm" placeholder="Approve Amount in Words">
                            </div>
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            Dealing Assistant Remark
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "da1" || ViewBag.Designation.ToLower() == "da2")
                            {
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                    <label class="form-label d-block mb-1">Dealing asistant Remark<span class="text-danger req_text">*</span></label>
                                    <textarea type="text" id="txtDealingAssistantRemark" class="form-control form-control-sm">@Model.NonCashless.DealingAssistanceRemark</textarea>
                                </div> }
                            else
                            {
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                    <label class="form-label d-block mb-1">Dealing asistant Remark<span class="text-danger req_text">*</span></label>
                                    <textarea type="text" id="txtDealingAssistantRemark" class="form-control form-control-sm" readonly disabled>@Model.NonCashless.DealingAssistanceRemark</textarea>
                                </div>}
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            ASO (Assistant Special Officer)
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "aso")
                            {
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                    <label class="form-label d-block mb-1">ASO Remark<span class="text-danger req_text">*</span></label>
                                    <textarea type="text" id="txtASORemark" class="form-control form-control-sm">@Model.NonCashless.ASORemark</textarea>
                                </div> }
                            else
                            {
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                    <label class="form-label d-block mb-1">ASO Remark<span class="text-danger req_text">*</span></label>
                                    <textarea type="text" id="txtASORemark" class="form-control form-control-sm" readonly disabled>@Model.NonCashless.ASORemark</textarea>
                                </div>}
                        </div>
                        <h4 class="form_title shadow-2-strong">
                            SO (Special Officer)
                        </h4>
                        <div class="row">
                            @if (ViewBag.Designation.ToLower() == "so")
                            {
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                    <label class="form-label d-block mb-1">SO Remark<span class="text-danger req_text">*</span></label>
                                    <textarea type="text" id="txtSORemark" class="form-control form-control-sm">@Model.NonCashless.SORemark</textarea>
                                </div> }
                            else
                            {
                                {
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                                        <label class="form-label d-block mb-1">SO Remark<span class="text-danger req_text">*</span></label>
                                        <textarea type="text" id="txtSORemark" class="form-control form-control-sm" readonly disabled>@Model.NonCashless.SORemark</textarea>
                                    </div>}
                            }
                        </div>
                        <br />
                        @if (ViewBag.Designation.ToLower() != "am_dm")
                        {
                            <div class="row">
                                <div class="col-lg-12" style="float:right">
                                    <button id="btnModalApprove" type="button" class="btn btn-success me-2 text-white" data-backdrop="static" data-keyboard="false">Approve</button>
                                    <button id="btnModalReject" type="button" class="btn btn-danger me-2 text-white" data-backdrop="static" data-keyboard="false">Reject</button>
                                </div>
                            </div>}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Modal Popup-->
    <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body ">
                    <div class="content p-0">
                        <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img src="~/assets/images/thumbs-up.png" class="icon_reject ">
                        <p class="message-type text-blod  pt-3">
                            Are you sure you want to approve the application ?
                        </p>
                        <div class="col-sm-12 mb-3 px-0">
                            <label class="form-label d-block mb-1">Remark<span class="text-danger req_text">*</span></label>
                            <textarea id="txtRemark" class="form-control form-control-sm" placeholder="Remark"></textarea>
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-brand popUp_btn me-2" data-backdrop="static" data-keyboard="false" id="btnApprove">Yes, Approve</button>
                        <button type="button" class="btn btn-danger popUp_btn me-2" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body ">
                    <div class="content p-0">
                        <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img src="~/assets/images/rejected.png" class="icon_reject ">
                        <p class="message-type text-blod mb-0 pt-3">
                            Are you sure you want to reject the application ?
                        </p>

                        <div class="col-sm-12 mb-3 px-0">
                            <label class="form-label d-block mb-1">Remark<span class="text-danger req_text">*</span></label>
                            <textarea id="txtRejectReason" class="form-control form-control-sm" placeholder="Remark"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-brand popUp_btn me-2" data-backdrop="static" data-keyboard="false" id="btnReject">Submit</button>
                        <button type="button" class="btn btn-danger popUp_btn me-2" data-bs-dismiss="modal">Close</button>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="approvemsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button type="button" class="close text-right p-3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <p><label id="lblApproveMessage"></label></p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="rejectmsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button type="button" class="close text-right p-3" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body text-center">
                    <p><label id="lblRejectMessage"></label></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Print Preview-->
<div id="print_preview">
    <div class=" view_container_bg mt-0">
        <div class="card-body">
            <h4 class="print_title">
                Mediclaim Voucher
            </h4>
            @if (Model.Voucher != null)
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Claim No.</th>
                            <td scope="row">@Model.Voucher.ClaimId</td>
                            <th scope="row">Claim Type</th>
                            <td scope="row">@claimtype</td>

                        </tr>
                        <tr>
                            <th scope="row">PPO Number</th>
                            <td scope="row">
                                @if (Model.NonCashless != null && claimtype.ToLower() == "noncashless")
                                {
                                    @Model.NonCashless.PPONumber}
                                @if (Model.Cashless != null && claimtype.ToLower() == "cashless")
                                {
                                    @Model.Cashless.PPONumber}
                            </td>
                            <th scope="row">Page No.</th>
                            <td scope="row">@Model.Voucher.PageNo</td>
                        </tr>
                        <tr>

                            <th scope="row">Pay To Shri / Smt</th>
                            <td scope="row">@Model.Voucher.PayTo</td>
                            <th scope="row">Approved Amount <span class="text-danger req_text">&#8377;</span></th>
                            <td scope="row">@Model.Voucher.ApprovedAmountInDecimal</td>
                        </tr>
                        <tr>

                            <th scope="row">In Words<span class="text-danger req_text">&#8377;</span></th>
                            <td scope="row" colspan="3">@Model.Voucher.AmountInWords</td>

                        </tr>
                        <tr>
                            <td scope="row" colspan="6" class="text-center h4">Bank Detail</td>
                        </tr>
                        <tr>

                            <th scope="row">Bank Name</th>
                            <td scope="row">@Model.Voucher.BankName</td>
                            <th scope="row">Branch Name</th>
                            <td scope="row">@Model.Voucher.BankBranch</td>
                        </tr>
                        <tr>
                            <th scope="row">BIC Code</th>
                            <td scope="row">@Model.Voucher.BICCode</td>
                            <th scope="row">IFSC Number</th>
                            <td scope="row">@Model.Voucher.IFSCCode</td>
                        </tr>
                        <tr>
                            <th scope="row">Account number</th>
                            <td scope="row">@Model.Voucher.AccountNumber</td>
                        </tr>
                    </tbody>
                </table> }
            else
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="4">Voucher is not generated for this claim</td>
                        </tr>
                    </tbody>
                </table>}

        </div>
    </div>
</div>



<div id="print_preview_nonashless_raise">
    <div class=" view_container_bg mt-0">
        @if (Model.NonCashless != null)
        {
            <div class="card-body">
                <h4 class="print_title">
                    Non Cashless Mediclaim
                </h4>
                <table class="table table-bordered w-100">
                    <tbody>
                        <tr>
                            <th scope="row">Employee No.</th>
                            <td scope="row">@Model.NonCashless.EmployeeNumber</td>
                            <th scope="row">PPO Number</th>
                            <td scope="row">@Model.NonCashless.PPONumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Page No.</th>
                            <td scope="row">@Model.NonCashless.MedicalSectionPageNumber</td>
                            <th scope="row">Name Of Medical Card Holder</th>
                            <td scope="row">@Model.NonCashless.MedicalCardHolderName</td>
                        </tr>
                        <tr>
                            <th scope="row">Medical Card Number</th>
                            <td scope="row">@Model.NonCashless.MedicalCardNo</td>
                            <th scope="row">Gender</th>
                            <td scope="row">@Model.NonCashless.Gender</td>
                        </tr>
                        <tr>
                            <th scope="row">Organization</th>
                            <td scope="row">@Model.NonCashless.Organization</td>
                            <th scope="row">Designation</th>
                            <td scope="row">@Model.NonCashless.Designation</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Of Birth</th>
                            <td scope="row">@Model.NonCashless.DateOfBirth.ToString("dd-MM-yyyy")</td>
                            <th scope="row">Age</th>
                            <td scope="row">@Model.NonCashless.Age</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td scope="row">@Model.NonCashless.Address</td>
                            <th scope="row">Mobile Number</th>
                            <td scope="row">@Model.NonCashless.MobileNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Email Id</th>
                            <td scope="row">@Model.NonCashless.EmailId</td>
                            <th scope="row">Dependent/Self</th>
                            <td scope="row">@Model.NonCashless.ClaimFor</td>
                        </tr>
                        @if (Model.NonCashless.Dependent != null && Model.NonCashless.ClaimFor.ToLower() == "dependent")
                        {
                            <tr>
                                <td scope="row" colspan="4" class="text-center h4">Dependent Information</td>
                            </tr>
                            <tr>

                                <th scope="row">Name</th>
                                <td scope="row">@Model.NonCashless.Dependent.Name</td>
                                <th scope="row">Date Of Birth</th>
                                <td scope="row">@Model.NonCashless.Dependent.DateOfBirth.ToString("dd-MM-yyyy")</td>
                            </tr>
                            <tr>

                                <th scope="row">Age</th>
                                <td scope="row">@Model.NonCashless.Dependent.Age</td>
                                <th scope="row">Relationship With Retiree</th>
                                <td scope="row">@Model.NonCashless.Dependent.RelationWithRetire</td>
                            </tr>
                        }
                        <tr>
                            <td scope="row" colspan="4" class="text-center h4">Bank Detail</td>
                        </tr>
                        <tr>
                            <th scope="row">Account Holder Name</th>
                            <td scope="row" colspan="3">@Model.NonCashless.AccountHolderName</td>
                        </tr>
                        <tr>
                            <th scope="row">Bank Name</th>
                            <td scope="row">@Model.NonCashless.BankName</td>
                            <th scope="row">BIC Code</th>
                            <td scope="row">@Model.NonCashless.BICCode</td>
                        </tr>
                        <tr>
                            <th scope="row">IFSC Number</th>
                            <td scope="row">@Model.NonCashless.IFSCNumber</td>
                            <th scope="row">Account Number</th>
                            <td scope="row">@Model.NonCashless.AccountNumber</td>
                        </tr>
                        <tr>
                            <td scope="row" colspan="4" class="text-center h4">Detail of Hospitalization</td>
                        </tr>
                        @foreach (var item in Model.NonCashless.OPDCNDList)
                        {
                            <tr>
                                <th scope="row">Claim Type</th>
                                <td scope="row">@Model.NonCashless.ClaimType</td>
                                <th scope="row">Date</th>
                                <td scope="row">@item.OPDCNDDate.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <th scope="row">Name of Hospital</th>
                                <td scope="row">@item.HospitalName</td>
                                <th scope="row">Medicine <span class="text-danger req_text">&#8377;</span></th>
                                <td scope="row">@item.MedicineAmount</td>
                            </tr>
                            <tr>
                                <th scope="row">Investigation Amount <span class="text-danger req_text">&#8377;</span></th>
                                <td scope="row">@item.InvestigationAmount</td>
                                <th scope="row">Consultation <span class="text-danger req_text">&#8377;</span></th>
                                <td scope="row">@item.ConsultationAmount</td>
                            </tr>
                            <tr>

                                <th scope="row">Other Expenses Amount <span class="text-danger req_text">&#8377;</span></th>
                                <td scope="row">@Math.Round(item.OtherAmount, 2)</td>
                                <th scope="row">Total Amount <span class="text-danger req_text">&#8377;</span></th>
                                <td scope="row">@Math.Round(item.TotalAmount, 2)</td>
                            </tr>
                        }
                        <tr>
                            <th scope="row" colspan="4" class="text-center h4">Claim Document Upload</th>
                        </tr>
                        <tr>
                            <th class="text-center">Sr. No.</th>
                            <th colspan="3">Document Type</th>
                        </tr>
                        @if (Model.NonCashless.Documents.Count() > 0)
                        {
                            var _index = 1;
                            @foreach (var item in Model.NonCashless.Documents)
                            {
                                <tr>
                                    <td class="text-center">@_index</td>
                                    <td colspan="3">

                                        <a href="#" class="pdfIcons" target='_blank'>
                                            <i class="fa fa-file-pdf" aria-hidden="true"></i>
                                            @item.DocumentFor
                                        </a>
                                    </td>
                                </tr>
                                _index = _index + 1;
                            } }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="4">NO Document Found</td>
                            </tr>
                        }

                        <tr>
                            <td scope="row" colspan="4" class="text-center h4">Claim Approval status</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Approve Amount<span class="text-danger req_text">&#8377;</span>
                            </th>
                            <td scope="row">@Model.NonCashless.ApprovedAmount</td>
                            <th scope="row">
                                In Words
                                <span class="text-danger req_text">&#8377;</span>
                            </th>
                            <td scope="row"><label id="lblAmountInWords"></label></td>
                        </tr>
                        <tr>
                            @if (ViewBag.Designation.ToLower() == "da1" || ViewBag.Designation.ToLower() == "da2")
                            {
                                <th scope="row">Dealing Asistant Remark</th>
                                <td scope="row">@Model.NonCashless.DealingAssistanceRemark</td>
                            }
                            @if (ViewBag.Designation.ToLower() == "aso")
                            {
                                <th scope="row">Aso Remark</th>
                                <td scope="row">@Model.NonCashless.ASORemark</td>
                            }
                        </tr>
                        <tr>
                            @if (ViewBag.Designation.ToLower() == "so")
                            {
                                <th scope="row">So Remark</th>
                                <td scope="row">@Model.NonCashless.SORemark</td>
                            }
                            <th scope="row">Remark</th>
                            <td scope="row">@Model.NonCashless.Remark</td>
                        </tr>
                        <tr>
                            <th scope="row">Claim Status</th>
                            @if (Model.NonCashless.ClaimStatusId == 1)
                            {
                                <td scope="row">Pending</td>
                            }
                            else if (Model.NonCashless.ClaimStatusId == 2)
                            {
                                <td scope="row">Approved</td>
                            }
                            else
                            {
                                <td scope="row">Rejected</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>}
        else { }
    </div>
</div>


@section NonCashlessClaimsView{
    @*<script type="text/javascript" src="~/js/Mediclaim/Processing/approverejectnoncashless.js"></script>*@
    <script src="~/assets/js/tab.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnApprove').click(function () {
                debugger;
                var request = {
                    ClaimId: $('#hdnClaimId').val(),
                    ClaimStatusId: 2,
                    RejectReason: null,
                    ApprovedAmount: $('#txtApproveAmount').val(),
                    Remark: $('#txtRemark').val(),
                    DealingAssistanceRemark: $('#txtDealingAssistantRemark').val(),
                    ASORemark: $('#txtASORemark').val(),
                    SORemark: $('#txtSORemark').val(),
                    Designation: $('#hdndesignation').val()
                }
                $.ajax({
                    type: 'POST',
                    url: "/Mediclaim/Processing/Noncashless/ApproveReject",
                    data: JSON.stringify(request),
                    contentType: 'application/json; charset=utf-8',
                    //dataType: 'json',
                    success: function (response, status, xhr) {
                        $('#approveModal').modal('hide');
                        if (xhr.status == '200') {
                            if (response == "Success") {
                                //$('#approvemsg').modal('show');
                                //let message = `Claim ${$('#hdnClaimId').val()} is approved successfully`
                                //$('#lblApproveMessage').text(message);

                                setTimeout(function () {
                                    window.location.href = "./NonCashlessClaims";
                                }, 2000);
                            }
                            else {
                                //$('#approvemsg').modal('show');
                                //let message = `Something went wrong`;
                                //$('#lblReturnMessage').text(message);


                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#approveModal').modal('hide');
                    }
                });

            });

            $('#btnReject').click(function () {
                if ($('#txtRejectReason').val() !== '') {
                    $('#txtRejectReason').removeClass('is-invalid');
                    var request = {
                        ClaimId: $('#hdnClaimId').val(),
                        ClaimStatusId: 3,
                        RejectReason: $('#txtRejectReason').val(),
                        ApprovedAmount: 0,
                        DealingAssistanceRemark: $('#txtDealingAssistantRemark').val(),
                        ASORemark: $('#txtASORemark').val(),
                        SORemark: $('#txtSORemark').val(),
                        Designation: $('#hdndesignation').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/Mediclaim/Processing/Noncashless/ApproveReject",
                        data: JSON.stringify(request),
                        contentType: 'application/json; charset=utf-8',
                        //dataType: 'json',
                        success: function (response, status, xhr) {
                            $('#rejectModal').modal('hide');
                            if (xhr.status == '200') {
                                if (response == "Success") {

                                    //$('#rejectmsg').modal('show');
                                    //let message = `Claim ${$('#hdnClaimId').val()} is rejected `;
                                    //$('#lblRejectMessage').text(message);
                                    $('#txtRejectReason').val('');

                                    setTimeout(function () {
                                        window.location.href = "./NonCashlessClaims";
                                    }, 2000);
                                }
                                else {
                                    //$('#rejectmsg').modal('show');
                                    //let message = `Something went wrong`;
                                    //$('#lblRejectMessage').text(message);

                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#rejectModal').modal('hide');
                        }
                    });
                }
                else {
                    $('#txtRejectReason').addClass('is-invalid');
                }
            });

            $('#btnModalApprove').click(function () {
                var ApprovedAmount = $('#txtApproveAmount').val();
                if (parseFloat(ApprovedAmount) > 0) {
                    //$('input[type="text"]').remove('is-invalid');
                    $('#approveModal').modal('show');
                }
                else {
                    //$('#validationModal').modal('show');
                    //$('input[type="text"]').addClass('is-invalid');
                }
            });

            $('#btnModalReject').click(function () {
                $('#rejectModal').modal('show');
            });
        });
    </script>
    <script src="~/js/numbertoword.js"></script>
    <script>
        $(document).ready(function () {
            var numberToWord = new NumberToWord();
            if ($('#txtApproveAmount').val() !== '0') {
                $('#txtApproveAmountInWords').val(numberToWord.ToWord($('#txtApproveAmount').val()))
            }

            $('#txtApproveAmount').focusout(function () {
                $('#txtApproveAmountInWords').val(numberToWord.ToWord($('#txtApproveAmount').val()))
            });

            $('#lblAmountInWords').text(numberToWord.ToWord($('#hdnNonCashlessAproveAmount').val()))

        });
    </script>

    <script type="text/javascript">
        $('#print_preview_nonashless_raise').hide();

        $('#printMe').click(function () {
            $('#print_preview_nonashless_raise').removeClass('show');
            $('#print_preview').addClass('show');
            window.print();
        });

        $('#printMeNonCashlessRaise').click(function () {
            $('#print_preview').removeClass('show');
            $('#print_preview_nonashless_raise').addClass('show');
            window.print();
        });

    </script>
}
<script>
    function updateTotal(index, input) {
        const deductedAmount = parseFloat(input.value) || 0;
        const originalTotal = parseFloat(input.getAttribute('data-original')) || 0;
        const newTotal = originalTotal - deductedAmount;

        // Set remaining amount in the current row
        document.getElementById(`totalAmount_${index}`).textContent = newTotal.toFixed(2);

        // Recalculate grand total of remaining (newTotal) from all rows
        updateDeductedGrandTotal();
    }

    function updateDeductedGrandTotal() {
        let total = 0;

        document.querySelectorAll('.deducted-input').forEach(function (input, index) {
            const deducted = parseFloat(input.value) || 0;
            const original = parseFloat(input.getAttribute('data-original')) || 0;
            const remaining = original - deducted;

            total += remaining;
        });

        // Show the grand total of all remaining (i.e., after deduction)
        document.getElementById('deductedGrandTotal').textContent = total.toFixed(2);
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateDeductedGrandTotal();
    });
</script>
<script>
    function saveDeductedAmounts() {
        debugger;
        var dataList = [];

        $('.deducted-input').each(function () {
            var id = $(this).data('opdcndid');
           
            var amount = parseFloat($(this).val()) || 0;

            dataList.push({
                OPDCNDId: id,
                DeductedAmount: amount
            });
        });
        console.log(dataList);
        $.ajax({
            type: 'POST',
            url: '/Mediclaim/Processing/SaveDeductedAmountsAjax', // ✅ make sure this matches your route
            data: { deductedList: dataList },
            //contentType: 'application/json',
            //data: JSON.stringify(dataList), // ✅ stringified JSON array
            success: function (response) {
                debugger;
                alert('Data saved!');
                
            },
            error: function (xhr) {
                console.error(xhr.responseText); // 🔍 check error here
                alert('Error: ' + xhr.statusText);
            }
        });
        reloadUpdatedData();
    }
    function reloadUpdatedData(id) {
        $.getJSON('/Mediclaim/Processing/GetUpdatedDeductions?opdcndId=' + 437, function (response) {
            if (response.success) {
                $('input.deducted-amount[data-id="' + response.opdcndId + '"]').val(response.deductedAmount);
            } else {
                console.warn(response.message);
            }
        });
    }
    window.onload = function () {
        reloadUpdatedData();
        // You can trigger actions here, like an AJAX call
    };

</script>





