@{
    ViewData["Title"] = "WhatsNew List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DTL.Model.Models.CMS
@using DTL.WebApp.Areas.WebsiteCMS

@model IEnumerable<WhatsNewModel>;
@{

    var _modules = new List<string>() { };
}


<div class="container-fluid">

    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0"> Latest News </h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="@Url.Action("Index","Home",new { Area="" })"><span class="">Dashboard </span> </a>
            <span class="px-1">/</span>
            <a href="@Url.Action("Index", StringConstants.DASHBOARD, new { Area = StringConstants.CMS_AREA })"><span>CMS</span></a>
            <span class="px-1">/</span>
            <span> Latest News List</span>

        </p>

    </div>
    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
            <div class="my-4 border_bottom pb-4">
                <button type="button" class="btn btn-primary btn-sm mr-2 "
                        onclick="location.href='@Url.Action( StringConstants.CMS_CREATE,StringConstants.CMS_WHATS_NEW ,new { Area=StringConstants.CMS_AREA })'">
                    Add latest News
                </button>
            </div>
            <table id="empTbl" class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Document</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Count() > 0)
                    {
                        int counter = 0;
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>@item.TitleInEnglish</td>
                                <td>@item.WhatsNewDate.ToString(StringConstants.DATE_FORMAT)</td>
                                <td>@item.Description</td>
                                <td>@item.EnglishFileName</td>
                                <td>
                                    @{
                                        string Image = "/assets/images/bg.jpg";
                                    }
                                    @if (item.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.Image);
                                        Image = String.Format("data:{0};base64,{1}", item.ImageContentType, base64);
                                    }
                                    <img src="@Image" class="about_image shadow">
                                </td>


                                <td class="d-flex border-bottom-0">

                                    <a href='@Url.Action(StringConstants.CMS_EDIT,StringConstants.CMS_WHATS_NEW, new {id = @item.ID})' class="btn btn-info btn-sm mr-2 btn_small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    @*<a onclick="$('#deleteModal').attr('data-id', '@item.ID');$('#deleteModal').modal('show');" class="btn btn-danger btn-sm mr-2 btn_small"><i class="fa fa-trash" aria-hidden="true"></i></a>*@

                                    <a onclick="showConfirmSwal('Are you sure you want to delete?',function(){Delete('@item.ID'); });" class="btn btn-danger btn-sm mr-2 btn_small text-white"><i class="fa fa-trash" aria-hidden="true"></i></a>


                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr>
                            <td style="text-align: center" colspan="8">No Data found</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    function Delete(Id, rw) {

        $.ajax('/WebsiteCMS/WhatsNew/Delete', {
            type: 'POST',  // http method
            data: JSON.stringify(Id),  // data to submit
            contentType: 'application/json; charset=utf-8',
            success: function (data, status, xhr) {

                if (xhr.status == 200) {

                    $('#deleteModal').modal('hide')
                    showSuccessSwal("deleted successfully!")

                    setTimeout(function () {
                        window.location.reload();
                        //$("#" + Id).remove();
                    }, 2000);

                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                showErrorSwal("Error! " + errorMessage);

            }
        });

    }
</script>

@section Employee{
    <script>
        $(document).ready(function () {
            $("#empTbl").DataTable({
                ordering: true,
                dom: 'lfrtip'
            });
        })

    </script>

}