<!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-info">
        <div class="inner">

            <p>Employee Registration</p>
        </div>

        <a href="@Url.Action("Index","EmployeeRegistration")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>-->
<!-- ./col -->
<!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-success">
        <div class="inner">

            <p>Disbursement</p>
        </div>

        <a href="@Url.Action("Index","Disbursement")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>-->
<!-- ./col -->
<!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-gradient-olive">
        <div class="inner">

            <p>GPF</p>
        </div>

        <a href="@Url.Action("Index","Dashboard",new {area="GPF" })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>-->
<!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-warning">
        <div class="inner">

            <p>Finance Management</p>
        </div>

        <a href="@Url.Action("Index","FinanceManagement")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>-->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">

            <p>Mediclaim</p>
        </div>

        <a href="@Url.Action("Index","Dashboard",new {area="Mediclaim" })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

<!--<div class="col-lg-3 col-6">-->
    <!-- small box -->
    <!--<div class="small-box bg-gradient-olive">
        <div class="inner">

            <p>Legal Section</p>
        </div>
        <a href="@Url.Action("Index","LegalSection")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>-->