@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>

    .voucher-disabled {
        background: #cac0c0;
        border: #cac0c0;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<!-- /.content-wrapper -->
<!--New UI-->

<input type="hidden" id="hdndesignation" value="@ViewBag.Designation" />

<div class="container-fluid">
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle"><i class="fa-solid fa-bars"></i></span>
            <h3 class="mb-0">Settlement Applications List</h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="/">Dashboard</a><span class="px-1">/</span>
            <span>Settlement Application List</span>
        </p>
    </div>

    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
            <div class="my-4 border_bottom pb-4 row">
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 ">
                    <label class="form-label d-block mb-1"> Application Id<span class="text-danger req_text">*</span></label>
                    <input type="text" id="txtApplicationId" class="form-control form-control-sm" name="applicationNumber" placeholder="Application Id" required />
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 ">
                    <label class="form-label d-block mb-1">Emp Code <span class="text-danger req_text">*</span></label>
                    <input type="text" id="txtEmpCode" class="form-control form-control-sm" name="employeeCode" placeholder="Emp Code" required />
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mt-1">
                    <label class="form-label d-block mb-2">Organization</label>
                    <select class="form-select" name="organization">
                        <option value="" selected disabled>--Select--</option>
                        @foreach (var kvp in DTL.Model.Models.GPF.GPFEmployeeInfoModel.OrganisationNameByCode)
                        {
                            <option value="@kvp.Key">@kvp.Value</option>
                        }
                    </select>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 mt-1">
                    <label class="form-label d-block mb-2">Application Status</label>
                    <select name="settlementStatus" id="selApplicationStatus" class="form-select">
                        <option value="Rejected">Reject</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Completed">Complete</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3  position-relative">
                    <button id="btnSearch" type="button" class="btn btn-success  position-absolute bottom-0" onclick="$('#tblsettlementApproval').DataTable().ajax.reload()"><i class="fa fa-search"></i></button>
                    <button id="btnClear" type="button" class="btn btn-danger position-absolute bottom-0 clear_btn"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tblsettlementApproval" class="table table-bordered" aria-describedby="example1_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Select</th>
                            <th>Date</th>
                            <th>Application Id </th>
                            <th>Emp Code </th>
                            <th>Emp Name </th>
                            <th>Organization</th>
                            <th>Final settlement</th>
                            <th>Application Status</th>
                            <th>Remark</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-center"><input type="checkbox" value="" id="flexCheckChecked1"></td>
                            <td>02-02-2022</td>
                            <td>5645432</td>
                            <td>Emp8986 </td>
                            <td>Rahul </td>

                            <td>DTL </td>
                            <td>15000</td>
                            <td><span class="bg-orange Status_text w-100 d-block">Under Precessing With AG/DM</span></td>
                            <td>Remark</td>
                            <td>
                                <a href="@Url.Action("settlementApprovalView","Am_Dm", new {Area="GPF" })" class="btn btn-primary btn-sm mr-2 btn_small">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-center"><input type="checkbox" value="" id="flexCheckChecked2"></td>
                            <td>02-02-2022</td>
                            <td>5645432</td>
                            <td>Emp8976</td>
                            <td>Rahul gfhhhhhhhhhh</td>

                            <td>DTL</td>
                            <td>15000</td>
                            <td><span class="bg-orange Status_text w-100 d-block">Under Precessing With AM/DM</span></td>
                            <td>Remark</td>
                            <td>
                                <a href="@Url.Action("settlementApprovalView","Am_Dm", new {Area="GPF" })" class="btn btn-primary btn-sm mr-2 btn_small">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-center"><input type="checkbox" value="" id="flexCheckChecked3"></td>
                            <td>02-02-2022</td>
                            <td>5645432</td>
                            <td>Emp7676</td>
                            <td>Rahul</td>

                            <td>DTL</td>
                            <td>15000</td>
                            <td class="text-center"><span class="bg-success Status_text">Completed</span></td>
                            <td>Remark</td>
                            <td>
                                <a href="@Url.Action("settlementApprovalView","Am_Dm", new {Area="GPF" })" class="btn btn-primary btn-sm mr-2 btn_small">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a herf="#" class="btn btn-success float-end text-white mt-4" id="button" onclick="forward()">Forward To GPF Disbursement</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forToGPFDisbur" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="content p-0">
                    <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img src="~/assets/images/arrow.png" class="icon_reject ">
                    <p class="message-type text-forward text-blod mb-0 pt-3">
                        <span class="memberToDisbust"></span>
                        <span id="numApps"></span> settlement Application(s) Forward To Disbursement
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    var i = 1;

    const buttons = c => `
                    <a href="@Url.Action("settlementApprovalView","Am_Dm", new { Area="GPF" })?applicationNumber=${encodeURIComponent(c.applicationNumber)}" class="btn btn-primary btn-sm mr-2 btn_small"><i class="fa fa-eye" aria-hidden="true"></i></a>
                `

    const color = status => status == 'Approved' ? 'success' : (status == "Rejected" ? 'danger' : 'orange');

    $(document).ready(function () {
        $("#tblsettlementApproval").DataTable({
            ordering: true,
            dom: 'Blfrtip',
            scrollX: true,
            buttons: [

            ], 
            ajax: {
                url: `@Url.Action("GetSettlementApplications", "Data")`,
                data: d => {
                    d['status'] = $('[name="settlementStatus"]').val() == "Pending" ? 'Pending with AM / DM' : $('[name="settlementStatus"]').val();
                    d['applicationNumber'] = $('[name="applicationNumber"]').val();
                    d['organization'] = $('[name="organization"]').val();
                    d['employeeCode'] = $('[name="employeeCode"]').val();
                    return d; },
                dataSrc: ''
            },
            columns: [
                { render: _ => i++ },
                { render: (a, b, c) => `<input type="checkbox" id="checkbox" name="checkbox" />` },
                { data: 'settlementDate', render: a => moment(a).format('DD-MMM-YYYY') },
                { data: 'applicationNumber' },
                { data: 'employeeCode' },
                { data: 'employeeName' },
                { data: 'organisationName' },
                { render: (a, b, c) => c.finalSettlementAmount || c.settlementAmount },
                { data: 'settlementStatus', render: (a, b, c) => `<span class="bg-${color(c.settlementStatus)} Status_text w-100 text-center d-block">${a}</span>` },
                { render: (a, b, c) => c.aG2Remark || c.remark || '' },
                { render: (a, b, c) => buttons(c) }
            ]
        });
    });


    function forward() {
        var appNos = [];
        $('#tblsettlementApproval').find('tbody tr').each(function () {
            if ($(this).find('[name="checkbox"]').prop('checked'))
                appNos.push($(this).find('td:eq(3)').text().trim());
        });
        if (!appNos.length) { toastr.warning('Please select applications to forward'); return; }
        $.get('@Url.Action("UpdateSettlementAMDM", "Data")?' + appNos.map(q => 'applicationNumber=' + q).join('&')).then(r => {
            if (r.status) {
                $('#numApps').text(appNos.length);
                $('#forToGPFDisbur').modal('show');
            }
            i = 1;
            $('#tblsettlementApproval').DataTable().ajax.reload();
        })
    }

</script>