@{
    ViewData["Title"] = "Follow us List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DTL.Model.Models.CMS
@using DTL.WebApp.Areas.WebsiteCMS

@model IEnumerable<SocialMediaAccountModel>;
@{

    var _modules = new List<string>() { };
}


<div class="container-fluid">

    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0"> Follow us  </h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="@Url.Action("Index","Home",new { Area="" })"><span class="">Dashboard </span> </a>
            <span class="px-1">/</span>
            <a href="@Url.Action("Index", StringConstants.DASHBOARD, new { Area = StringConstants.CMS_AREA })"><span>CMS</span></a>
            <span class="px-1">/</span>
            <a href="@Url.Action(StringConstants.DASHBOARD, StringConstants.CMS_SocialMediaAccount, new { Area = StringConstants.CMS_AREA })"><span>Footer Link List</span></a>
            <span class="px-1">/</span>
            <span>Follow Us</span>

        </p>

    </div>
    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
            <div class="my-4 border_bottom pb-4">
                <button type="button" class="btn btn-primary btn-sm mr-2 "
                        onclick="location.href='@Url.Action( StringConstants.CMS_CREATE,StringConstants.CMS_SocialMediaAccount ,new { Area=StringConstants.CMS_AREA })'">
                    Add Follow us
                </button>
            </div>
            <table id="empTbl" class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Facebook</th>
                        <th>Twitter</th>
                        <th>Instagram</th>
                        <th>Youtube</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        int counter = 0;
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>@item.Facebook</td>
                                <td>@item.Twitter</td>

                                <td>@item.Instagram</td>
                                <td>@item.Youtube</td>
                                <td class="d-flex border-bottom-0">

                                    <a href='@Url.Action(StringConstants.CMS_EDIT,StringConstants.CMS_SocialMediaAccount, new {id = @item.ID})' class="btn btn-info btn-sm mr-2 btn_small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a onclick="showConfirmSwal('Are you sure you want to delete?',function(){ Delete('@item.ID'); })"  class="text-white btn btn-danger btn-sm mr-2 btn_small"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr>
                            <td style="text-align: center" colspan="6">No Data found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>

<script>
    function Delete(Id, rw) {

        $.ajax('/WebsiteCMS/SocialMediaAccount/Delete', {
            type: 'POST',  // http method
            data: JSON.stringify(Id),  // data to submit
            contentType: 'application/json; charset=utf-8',
            success: function (data, status, xhr) {

                if (xhr.status == 200) {

                    $('#deleteModal').modal('hide')
                    showSuccessSwal("deleted successfully!");

                    setTimeout(function () {
                        window.location.reload();
                        //$("#" + Id).remove();
                    }, 2000);

                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('#deleteModal').modal('hide')
                toastr.error(errorMessage);
                // $('p').append('Error' + errorMessage);

            }
        });

    }
</script>

@section Employee{
    <script>
        $(document).ready(function () {
            $("#empTbl").DataTable({
                ordering: true,
                dom: 'lfrtip'
            });
        })

    </script>

}