@{
    ViewData["Title"] = "Assign Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _url = "";
    var _userType = ViewBag.UserLabel;
    if (_userType == "DVB") {
        _url = Url.Action("DVBUserList", "DVBUser", new { Area = "UserManagement" });
    }
    else
    {
        _url = Url.Action("HospitalUserList", "HospitalUser", new { Area = "UserManagement" });

    }
}
<link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
<style type="text/css">
    .error {
        border: solid 1px #ff0000;
    }
</style>
<div class="content-wrapper" style="margin:0px">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewBag.UserLabel User Assign Permission</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home",new { Area="" })">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@_url">@_userType UserList</a></li>
                        <li class="breadcrumb-item active">@_userType  User Assign Permission</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <form action="/" method="post">
                                <input type="hidden" id="hdnUserId" value="@ViewBag.UserId" />
                                <input type="hidden" id="hdnUserType" value="@ViewBag.UserType" />
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right" for="">Module</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="selModule" name="selModule" class="form-control">
                                            <option value="">Select</option>
                                            @foreach (var data in ViewBag.ModuleList)
                                            {
                                                <option value="@data.ModuleName">@data.ModuleName</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right" for="">Sub Module</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="selSubModule" class="form-control mb-2">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="w-100 form-label text-right" for="">Permission</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="create" value="create">
                                            <label class="form-check-label" for="create">Create</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="view" value="view">
                                            <label class="form-check-label" for="view">View</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="edit" value="edit">
                                            <label class="form-check-label" for="edit">Edit</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="delete" value="delete">
                                            <label class="form-check-label" for="delete">Delete</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnAddNew">Add</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="tblPermission" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Sub ModuleModule</th>
                                                    <th>Permissions</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>M1</td>
                                                    <td>SM1</td>
                                                    <td>Create, View, Edit, Delete</td>
                                                    <th><a href="#">Delete Permissions</a></th>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 p-3 text-right" style="background: aliceblue;">
                                        <a class="btn btn-primary" href="/" id="btnSubmit">Submit</a>
                                        <a class="btn btn-danger" href="/">Cancel</a>
                                        <a class="btn btn-info" href="javascript:void(0)" id="btnReset">Reset</a>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
@section AssignPermission{
    <script type="text/javascript" src="~/js/UserManagement/assignpermission.js"></script>
}